<ul class="nav nav-list">
    <li class="active">
        <a href="/home">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Trang chính </span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="/danh-sach-chua-duyet">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text">Danh sách chờ</span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="/danh-sach-da-duyet">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text">Danh sách đã duyệt</span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="/danh-sach-user">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text">Danh sách user</span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="/trang-ca-nhan">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text">Trang cá nhân</span>
        </a>
        <b class="arrow"></b>
    </li>

</ul><!-- /.nav-list -->
